* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url(./pict/background1.png);
}

.header {
  color: white;
  background-color: rgb(177 99 221);
  border-radius: 4px;
  margin-top: 50px;
  padding: 0px 10px 0px 10px;
  box-shadow: 1px 1px 15px 15px rgb(130, 64, 152);
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.question-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(177 99 221);
  border: solid rgb(166 83 193) 1px;
  border-radius: 20px;
  margin: 30px 30px 30px 30px;
  padding: 40px 40px 40px 40px;
  box-shadow: 4px 6px 20px 9px rgb(130, 64, 152);
  position: relative;
}

.bookmark {
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  border: none;
  font-size: 50px;
}

.bookmark-checked {
  height: 55px;
  fill: rgb(158 192 255);
  stroke-miterlimit: 10;
  stroke-width: 8px;
  position: relative;
  top: -3px;
  right: 10px;
}

.bookmark-unchecked {
  height: 55px;
  fill: rgb(139, 69, 162);
  stroke-miterlimit: 10;
  stroke-width: 8px;
  position: relative;
  top: -3px;
  right: 10px;
}

#question-text {
  color: aliceblue;
}

.categories-tags {
  display: flex;
  flex-direction: row;
}

.card {
  color: white;
}

.answer {
  background-color: rgb(158 192 255);
  color: white;
  text-decoration: none;
  display: inline-block;
  width: 200px;
  height: 50px;
  padding: 12px 0px 12px 0px;
  border: solid #a1a2f9;
  border-radius: 10px;
  margin: auto;
}

#tags {
  color: rgb(255, 255, 255);
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

/* footer */

.footer {
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 60px;
  text-decoration: none;
  gap: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 15px;
  box-shadow: 4px 6px 20px 9px rgb(130, 64, 152);
}

.footer a:hover {
  background-color: #adaeff;
  box-shadow: 0 8px 16px 0 rgba(207, 100, 97, 0.4);
  border-radius: 15px;
}
